body {
  padding-top: 50px;
}

.kenavo {
  padding: 40px 15px;
  text-align: center;
}

#grooveshark-logo {
	width: 20px;
}

#grooveshark-link {
	position: relative;
	display: block;
	padding: 10px 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
	color: #FFF;
	text-decoration: none;
}

